<div class="newCreditcard creditCard-{{ inputId }}">
    <div class="row">
        <div class="col-sm-12">
            <br>
            <div class="col-sm-3 clear-left-padding" style="padding-left: 0;">
                <label for="cardNumber">{{ credit_card.credit_card_number }}</label>
                <div class="input-group input-group ">
                    <input
                            name="card-number-{{ inputId }}"
                            type="text"
                            class="form-control col-sm-12 mundipagg-cardNumber"
                            maxlength="19" id="cardNumber"
                            data-mundipagg-validation-element="number-{{ inputId }}"
                            data-mundicheckout-element="number-{{ inputId }}"
                            inputId="{{ inputId }}"
                    >
                    <span class="input-group-addon" inputId="{{ inputId }}" data-mundicheckout-element="brand-{{ inputId }}" data-mundicheckout-brand data-mundicheckout-brand-image></span>
                </div>
                <span id="credit-card-number-message-{{ inputId }}" class="text-danger form-validation-error-message"></span>
            </div>

            <div class="col-sm-4">
                <label>{{ credit_card.installments }}</label>
                <div>
                    <select
                            class="form-control installments"
                            name="new-creditcard-installments-{{ inputId }}"
                            id="new-creditcard-installments-{{ inputId }}"
                            data-brand="{{ brand }}"
                            data-mundipagg-validation-element="new_installments-{{ inputId }}"
                    >
                        <option value="">Selecione</option>
                    </select>
                </div>
                <span id="new_installments-message-{{ inputId }}" class="text-danger form-validation-error-message"></span>
            </div>

            <div class="col-sm-3" id="expiration-date-field ">
                <label class="row">{{ credit_card.valid_thru }}</label>
                <div class="row ">
                    <select
                            name="card-exp-month"
                            id="cardExpMonth"
                            class="form-control col-sm-6"
                            style="width: 40%;"
                            data-mundipagg-validation-element="exp_month-{{ inputId }}"
                            data-mundicheckout-element="exp_month-{{ inputId }}">
                        {% for month in 1..12 %}
                            <!-- this makes every month two digits long -->
                            <!--option value="{{ "%02d"|format(month) }}">{{ "%02d"|format(month) }}</option-->
                            <option value="{{ month }}">{{ month }}</option>
                        {% endfor %}
                    </select>
                    <select
                            name="card-exp-year"
                            id="cardExpYear"
                            class="form-control col-sm-6"
                            style="width: 60%"
                            data-mundipagg-validation-element="exp_year-{{ inputId }}"
                            data-mundicheckout-element="exp_year-{{ inputId }}">
                        {% for year in 2018..2030 %}
                            <option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                    </select>
                    <span  id="expiration-date-message-{{ inputId }}" class="text-danger form-validation-error-message"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5" id="holdername-field">
            <label for="cardName">{{ credit_card.holder_name }}</label>
            <input
                    name="holder-name"
                    type="text"
                    class="form-control mundipagg-cardName"
                    maxlength="50"
                    id="cardName"
                    data-mundipagg-validation-element="holder_name-{{ inputId }}"
                    data-mundicheckout-element="holder_name-{{ inputId }}">
            <span  id="holder-name-message-{{ inputId }}" class="text-danger form-validation-error-message"></span>
        </div>

        <div class="col-sm-2" id="cvv-field">
            <label for="cardCVV">CVV</label>
            <input
                    name="cvv"
                    type="text"
                    class="form-control mundipagg-cardCVV"
                    maxlength="4"
                    id="cardCVV"
                    data-mundipagg-validation-element="cvv-{{ inputId }}"
                    data-mundicheckout-element="cvv-{{ inputId }}">
            <span id="cvv-message-{{ inputId }}" class="text-danger form-validation-error-message"></span>
        </div>
    </div>

    <div class="row">
        <span  id="token-error-message" class="text-danger form-validation-error-message"></span>
        <br>
        {%  if isSavedCreditcardEnabled %}
            <div class="col-sm-12">
                <input type="checkbox" class="float-to-left" id="save-this-credit-card-{{ inputId }}" name="save-this-credit-card-{{ inputId }}" />
                <label for="save-this-credit-card-{{ inputId }}">{{ credit_card.save_creditcard_message }}</label>
            </div>
        {% endif %}
    </div>

    {%  if isMultiBuyerEnabled %}
        <div class="row">
            <div class="col-sm-12">
                <input type="checkbox" class="float-to-left multi-buyer-check" id="multi-buyer-{{ inputId }}" name="multi-buyer-status-{{ inputId }}" onChange="toogleMultiBuyerForm({{inputId}})"/>
                <label for="multi-buyer-{{ inputId }}">{{ credit_card.multibuyer_message }}</label>
            </div>
        </div>

        {% include multiBuyerFormTemplate %}
    {% endif %}

</div>
