<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-10 col-md-6 col-lg-3 clear-left-padding">
            <label>{{ credit_card.payment_method_name }}</label>
            <div>
                <select
                        name="mundipaggSavedCreditCard-{{ inputId }}"
                        id="mundipaggSavedCreditCard-{{ inputId }}"
                        inputId="{{ inputId }}"
                        class="form-control"
                        onchange="hideElements(); changeInstallments(); switchNewSaved(this.value, $(this).attr('inputId'))"
                >
                    {% for creditcard in savedCreditcards %}
                        {% if loop.first %}
                            <option selected="selected" value="{{ creditcard.id }}"
                                    brand="{{ creditcard.brand }}">{{ creditcard.brand }}
                                xxxx-{{ creditcard.last_four_digits }}</option>
                        {% else %}
                            <option value="{{ creditcard.id }}"
                                    brand="{{ creditcard.brand }}">{{ creditcard.brand }}
                                xxxx-{{ creditcard.last_four_digits }}</option>
                        {% endif %}
                    {% endfor %}
                    <option value="new">{{ credit_card.new_credit_card }}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4 savedCreditcard">
            <label>{{ credit_card.installments }}</label>
            <div>
                <select
                        name="saved-credit-card-installments-{{ inputId }}"
                        id="saved-credit-card-installments-{{ inputId }}"
                        class="form-control installments"
                >
                    <option value="">Selecione</option>
                    {% for brand, installment in installments %}
                        {% for details in installment %}
                            {% if details.interest == 0 %}
                                <option data-card-brand="{{ brand | lower }}"
                                        value="{{ details.installments ~ '|' ~ details.interest }} ">{{ brand ~ ' - ' ~ details.installments ~ ' x ' ~ details.amount  ~ ' - ' ~ credit_card.without_interest }}</option>
                            {% else %}
                                <option data-card-brand="{{ brand | lower }}"
                                        value="{{ details.installments ~ '|' ~ details.interest }}">{{ brand ~ ' - ' ~  details.installments ~ ' x ' ~ details.amount  ~ ' - ' ~ credit_card.interest ~ details.interest ~ '%' }}</option>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
</div>