<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-10 col-md-6 col-lg-3 clear-left-padding">
            <label>{{ credit_card.payment_method_name }}</label>
            <div>
                <select
                        name="mundipaggSavedCreditCard-{{ inputId }}"
                        id="mundipaggSavedCreditCard-{{ inputId }}"
                        inputId="{{ inputId }}"
                        class="form-control mundipagg-saved-creditCard"
                >
                    {% for creditcard in savedCreditcards %}
                        {% if loop.first %}
                            <option selected="selected" value="{{ creditcard.id }}"
                                    brand="{{ creditcard.brand }}">{{ creditcard.brand }}
                                xxxx-{{ creditcard.last_four_digits }}</option>

                        {% else %}
                            <option value="{{ creditcard.id }}"
                                    brand="{{ creditcard.brand }}">{{ creditcard.brand }}
                                xxxx-{{ creditcard.last_four_digits }}</option>
                        {% endif %}
                    {% endfor %}
                    <option value="new">{{ credit_card.new_credit_card }}</option>
                </select>
            </div>
        </div>
        <div class="col-sm-4 savedCreditcard">
            <label>{{ credit_card.installments }}</label>
            <select
                    name="saved-credit-card-installments-{{ inputId }}"
                    id="saved-creditcard-installments-{{ inputId }}"
                    class="form-control installments"
            >
                <option value="">Selecione</option>
            </select>
        </div>
    </div>
</div>
<script>
    (function() {
        var selectElement = $("#mundipaggSavedCreditCard-{{ inputId }}");
        var parentForm = $(selectElement.parents("form").get(0));

        //init form attribute
        var ignoreArray = parentForm.attr('disabled-forms');
        try {
            ignoreArray = JSON.parse(ignoreArray);
        } catch (e) {
            ignoreArray = [];
        }

        ignoreArray.push({{ inputId }});

        parentForm.attr('disabled-forms',JSON.stringify(ignoreArray));

        //set change event handler.
        $("#mundipaggSavedCreditCard-{{ inputId }}").change(function(){
            var ignoreArray = parentForm.attr('disabled-forms');

            ignoreArray = JSON.parse(ignoreArray);

            var ignoreFormValidation = selectElement.val() !== "new";

            var indexOfInputId = ignoreArray.indexOf({{ inputId }});
            if (indexOfInputId > -1) {
                ignoreArray.splice(indexOfInputId,1);
            }

            if (ignoreFormValidation) {
                ignoreArray.push({{ inputId }});
            }
            ignoreArray = JSON.stringify(ignoreArray);
            parentForm.attr('disabled-forms',ignoreArray);
            debugger;
            parentForm.$disabledForms = ignoreArray;
        });
    })();
</script>
