{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ misc.button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1><i class="fa fa-credit-card"></i> {{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-info-circle"></i> {{ text_order }}</h3>
        </div>

        <table class="table table-bordered">
          <thead>
            <tr>
              <td class="text-left">{{ column_product }}</td>
              <td class="text-left">{{ column_model }}</td>
              <td class="text-right">{{ column_quantity }}</td>
              <td class="text-right">{{ column_price }}</td>
              <td class="text-right">{{ column_total }}</td>
            </tr>
          </thead>
          <tbody>
          {% for product in products %}
          <tr>
            <td class="text-left"><a href="{{ product.href }}">{{ product.name }}</a> {% for option in product.option %} <br />
              {% if option.type != 'file' %}
              &nbsp;<small> - {{ option.name }}: {{ option.value }}</small> {% else %}
              &nbsp;<small> - {{ option.name }}: <a href="{{ option.href }}">{{ option.value }}</a></small> {% endif %}
              {% endfor %}</td>
            <td class="text-left">{{ product.model }}</td>
            <td class="text-right">{{ product.quantity }}</td>
            <td class="text-right">{{ product.price }}</td>
            <td class="text-right">{{ product.total }}</td>
          </tr>
          {% endfor %}
          {% for voucher in vouchers %}
          <tr>
            <td class="text-left"><a href="{{ voucher.href }}">{{ voucher.description }}</a></td>
            <td class="text-left"></td>
            <td class="text-right">1</td>
            <td class="text-right">{{ voucher.amount }}</td>
            <td class="text-right">{{ voucher.amount }}</td>
          </tr>
          {% endfor %}
          {% for total in totals %}
          <tr>
            <td colspan="4" class="text-right">{{ total.title }}</td>
            <td class="text-right">{{ total.text }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-cog"></i>Charges</h3>
            </div>

	        <div class="panel-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <td class="text-left">Charge ID</td>
                      <td class="text-left">Payment method</td>
                      <td class="text-center">Status</td>
                      <td class="text-right">Paid amount</td>
                      <td class="text-right">Amount</td>
                      <td class="text-center">Action</td>
                    </tr>
                  </thead>
                  <tbody>
                      {% for charge in charges %}
	                      <tr>
                            <td class="text-left">{{ charge.charge_id }}</td>
                            <td class="text-left">{{ charge.payment_method }}</td>
                            <td class="text-center">{{ charge.status }}</td>
                            <td class="text-right">{{ charge.paid_amount }}</td>
                            <td class="text-right">{{ charge.amount }}</td>
                            <td class="text-center">
                              {% if charge.cancel %}
                                  <a href="{{ charge.cancel }}">Cancel</a>
                              {% endif %}
                            </td>
                          </tr>
                      {% endfor %}
                  </tbody>
              </table>
	        </div>
        </div>
    </div>
</div>
{{ footer }}