<link href="{{ themeDirectory }}/stylesheet/mundipagg/mundipagg.css" type="text/css" rel="stylesheet" />
{% if customizedFile %}
    <link href="{{ customizedFile }}" type="text/css" rel="stylesheet" />
{% endif %}
<section id="mundipaggCheckout">
    {% if not creditCardStatus and not boletoStatus and not twoCreditCardsStatus %}
        <h3> {{ misc.no_payment_methods_enabled }} </h3>
    {% endif %}

    {# Here comes tab info #}
    <ul  class="nav nav-justified">
        {% if creditCardStatus %}
            <li class="active mundipaggCheckoutTabs">
                <a  href="#creditCardTab" data-toggle="tab">
                    <i class="fa fa-credit-card"></i>
                    <p>{{ credit_card.payment_method_name }}</p>
                </a>
            </li>
        {% endif %}
        {% if boletoStatus %}
            <li class="mundipaggCheckoutTabs">
                <a href="#boletoTab" data-toggle="tab">
                    <i class="fa fa-file-text"></i>
                    <p>{{ boleto.payment_method_name }}</p>
                </a>
            </li>
        {% endif %}
        {% if twoCreditCardStatus %}
            <li class="mundipaggCheckoutTabs">
                <a href="#twoCreditCardsTab" data-toggle="tab">
                    <i class="fa fa-file-text"></i>
                    <p>{{ twoCreditCardsPaymentTitle }}</p>
                </a>
            </li>
        {% endif %}
        {% if boletoCreditCardStatus %}
        <li class="mundipaggCheckoutTabs">
            <a href="#boletoCreditCardTab" data-toggle="tab">
                <i class="fa fa-file-text"></i>
                <p>Boleto + cartão de crédito</p>
            </a>
        </li>
        {% endif %}
    </ul>

    <div class="mundipaggCheckoutTabsContent tab-content clearfix">
        {% if creditCardStatus %}
            {% include baseCreditCardtemplate %}
        {% endif %}
        {% if boletoStatus %}
            {% include baseBoletoTemplate %}
        {% endif %}
        {% if twoCreditCardStatus %}
            {% include baseTwoCreditCardstemplate %}
        {% endif %}
        {% include boletoCreditCardTemplate %}
    </div>
    <input type="hidden" id="mundipagg-order-total" value="{{ amount }}" />
</section>

<script src="{{ themeDirectory }}/scripts/mundipagg/transparent.js" data-mundicheckout-app-id="{{ publicKey }}"></script>
<script src="{{ themeDirectory }}/scripts/mundipagg/mundipagg-form-validation.js"></script>

