<link href="{{ themeDirectory }}/stylesheet/mundipagg/mundipagg.css" type="text/css" rel="stylesheet" />
{% if customizedFile %}
    <link href="{{ customizedFile }}" type="text/css" rel="stylesheet" />
{% endif %}
<section id="mundipaggCheckout">



    {% if not creditCardStatus and not boletoStatus %}
        <h3> {{ misc.no_payment_methods_enabled }} </h3>
    {% endif %}
    <ul  class="nav nav-justified">
        {% if creditCardStatus %}
            <li class="active mundipaggCheckoutTabs">
                <a  href="#creditCardTab" data-toggle="tab">
                    <i class="fa fa-credit-card"></i>
                    <p>{{ credit_card.payment_method_name }}</p>
                </a>
            </li>
        {% endif %}
        {% if boletoStatus %}
            <li class="mundipaggCheckoutTabs">
                <a href="#boletoTab" data-toggle="tab">
                    <i class="fa fa-file-text"></i>
                    <p>{{ boleto.payment_method_name }}</p>
                </a>
            </li>
        {% endif %}
    </ul>

        <div class="mundipaggCheckoutTabsContent tab-content clearfix">
            {% if creditCardStatus %}
                {{ creditcardTemplate }}
            {% endif %}
        {% if boletoStatus %}
            <div class="tab-pane alert alert-info" id="boletoTab">
                <div class="row">
                    <h3 class="col-sm-12">{{ boleto.title }}</h3>
                    <div class="col-sm-10">
                        <a href="javascript:;" target="_SELF" onclick="generate();" id="boletoLink">
                            <i class="fa fa-file-text"></i>
                            {{ boleto.click_to_generate }}
                        </a>
                    </div>
                    <div class="col-sm-2">
                        <img src="image/catalog/mundipagg/boleto.png" title="Boleto" alt="Boleto" width="75">
                    </div>
                    <div class="col-sm-12">
                        <br>
                        <blockquote>
                            <h8>{{ boleto.instructions }}</h8>
                        </blockquote>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>

<script src="{{ themeDirectory }}/scripts/mundipagg/mundipagg-checkout.js" data-mundicheckout-app-id="{{ publicKey }}"></script>
<script src="{{ themeDirectory }}/scripts/mundipagg/mundipagg-form-validation.js"></script>

<script>
    function generate() {
        window.open("{{ generate_boleto_url }}");
        window.location = "{{ checkout_success_url }}";
    }
</script>
