{% if savedCreditCardBrand != false %}
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-10 col-md-6 col-lg-2 clear-left-padding">
                <label>{{ credit_card.payment_method_name }}</label>
                <div>
                    <select
                            name="mundipaggSavedCreditCard"
                            id="mundipaggSavedCreditCard"
                            class="form-control"
                            onchange="hideElements(); showSpecific(this.value); switchNewSaved(this.value)"
                            brand="{{ savedCreditCardBrand }}"
                    >
                        <option value="{{ savedCreditCardBrand | lower }}">{{ savedCreditCardBrand }} xxxx-XXXX </option>
                        <option value="new">{{ credit_card.new_credit_card }}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4 savedCreditcard">
                <label>{{ credit_card.installments }}</label>
                <div>
                    <select
                            name="savedCreditcardInstallments"
                            id="savedCreditcardInstallments"
                            class="form-control installments"
                    >
                        <option value="">Selecione</option>
                        {% for brand, installment in installments %}
                            {% for details in installment %}
                                {% if details.interest == 0 %}
                                    <option data-card-brand="{{ brand | lower }}" value="{{ details.installments ~ '|' ~ details.interest }} ">{{ brand ~ ' - ' ~ details.installments ~ ' x ' ~ details.amount  ~ ' - ' ~ credit_card.without_interest }}</option>
                                {% else %}
                                    <option data-card-brand="{{ brand | lower }}" value="{{ details.installments ~ '|' ~ details.interest }}">{{ brand ~ ' - ' ~  details.installments ~ ' x ' ~ details.amount  ~ ' - ' ~ credit_card.interest ~ details.interest ~ '%'}}</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <style>
        .newCreditcard {
            display: none;
        }
    </style>
{% endif %}