<div id="twoCreditCardsTab" class="tab-pane">
    <form action="index.php?route=extension/payment/mundipagg/processCreditCard" method="post" data-mundicheckout-form>
        <h3 class="col-sm-12">Pagamento com dois cartões</h3>
        <h4>Primeiro cartão</h4>
        <div id="firstCard">
            <div class="row">
                <div class="col-sm-12 twoCreditCards">
                    <br>
                    <div class="col-sm-3 clear-left-padding" style="padding-left: 0;">
                        <label for="firstCardNumber">{{ credit_card.credit_card_number }}</label>
                        <div class="input-group input-group ">
                            <input name="card-number-0" type="text" class="form-control col-sm-12 " maxlength="19" id="cardNumber" data-mundicheckout-element="number-0">
                            <span class="input-group-addon" data-mundicheckout-element="brand-0" data-mundicheckout-brand data-mundicheckout-brand-image></span>
                        </div>
                        <span  id="two-credit-card-number-message" class="text-danger"></span>
                    </div>

                    <div class="col-sm-4">
                        <label>{{ credit_card.installments }}</label>
                        <div>
                            <select name="payment-details-0" class="form-control installments" id="twoCreditcardInstallments" data-brand="{{ brand }}" required>
                                <option value="">Selecione</option>
                                {% for brand, installment in installments %}
                                    {% for details in installment %}
                                        {% if details.interest == 0 %}
                                            <option data-card-brand="{{ brand | lower }}" value="{{ details.installments ~ '|' ~ details.interest }} ">{{ brand ~ ' - ' ~ details.installments ~ ' x ' ~ details.amount  ~ ' - ' ~ credit_card.without_interest }}</option>
                                        {% else %}
                                            <option data-card-brand="{{ brand | lower }}" value="{{ details.installments ~ '|' ~ details.interest }}">{{ brand ~ ' - ' ~  details.installments ~ ' x ' ~ details.amount  ~ ' - ' ~ credit_card.interest ~ details.interest ~ '%'}}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-2" id="firstExpiration-date-field ">
                        <label class="row">{{ credit_card.valid_thru }}</label>
                        <div class="row ">
                            <select  name="card-exp-month-0" id="firstCardExpMonth" class="form-control col-sm-6" style="width: 40%;" data-mundicheckout-element="exp_month-0">
                                {% for month in 1..12 %}
                                    <!-- this makes every month two digits long -->
                                    <!--option value="{{ "%02d"|format(month) }}">{{ "%02d"|format(month) }}</option-->
                                    <option value="{{ month }}">{{ month }}</option>
                                {% endfor %}
                            </select>
                            <select name="card-exp-year-0" id="firstCardExpYear" class="form-control col-sm-6" style="width: 60%" data-mundicheckout-element="exp_year-0">
                                {% for year in 2018..2030 %}
                                    <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                            <span  id="firstExpiration-date-message" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 twoCreditcard" id="firstHoldername-field">
                    <label for="cardName">{{ credit_card.holder_name }}</label>
                    <input name="holder-name-0" type="text" class="form-control" maxlength="50" id="firstCardName" data-mundicheckout-element="holder_name-0">
                    <span  id="firstHolder-name-message" class="text-danger"></span>
                </div>

                <div class="col-sm-2 twoCreditcard" id="firstCvv-field">
                    <label for="firstCardCVV">CVV</label>
                    <input name="cvv-0" type="text" class="form-control" maxlength="4" id="firstCardCVV" data-mundicheckout-element="cvv-0">
                    <span id="firstCvv-message" class="text-danger"></span>
                </div>

                <div class="col-sm-2 twoCreditcard" id="firstCvv-field">
                    <label for="first-card-total">Total a pagar</label>
                    <input name="total-0" type="text" class="form-control" maxlength="4" id="first-card-total">
                    <span id="first-card-total-message" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br>
        <br>
        <h4>Segundo cartão</h4>
        <div id="secondCard">
            <div class="row">
                <div class="col-sm-12 twoCreditCards">
                    <br>
                    <div class="col-sm-3 clear-left-padding" style="padding-left: 0;">
                        <label for="secondCardNumber">{{ credit_card.credit_card_number }}</label>
                        <div class="input-group input-group ">
                            <input name="card-number-1" type="text" class="form-control col-sm-12 " maxlength="19" id="cardNumber" data-mundicheckout-element="number-1">
                            <span class="input-group-addon" data-mundicheckout-element="brand-1" data-mundicheckout-brand data-mundicheckout-brand-image></span>
                        </div>
                        <span  id="two-credit-card-number-message" class="text-danger"></span>
                    </div>

                    <div class="col-sm-4">
                        <label>{{ credit_card.installments }}</label>
                        <div>
                            <select name="payment-details-1" class="form-control installments" id="twoCreditcardInstallments" data-brand="{{ brand }}" required>
                                <option value="">Selecione</option>
                                {% for brand, installment in installments %}
                                    {% for details in installment %}
                                        {% if details.interest == 0 %}
                                            <option data-card-brand="{{ brand | lower }}" value="{{ details.installments ~ '|' ~ details.interest }} ">{{ brand ~ ' - ' ~ details.installments ~ ' x ' ~ details.amount  ~ ' - ' ~ credit_card.without_interest }}</option>
                                        {% else %}
                                            <option data-card-brand="{{ brand | lower }}" value="{{ details.installments ~ '|' ~ details.interest }}">{{ brand ~ ' - ' ~  details.installments ~ ' x ' ~ details.amount  ~ ' - ' ~ credit_card.interest ~ details.interest ~ '%'}}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-2" id="firstExpiration-date-field ">
                        <label class="row">{{ credit_card.valid_thru }}</label>
                        <div class="row ">
                            <select  name="card-exp-month-1" id="firstCardExpMonth" class="form-control col-sm-6" style="width: 40%;" data-mundicheckout-element="exp_month-1">
                                {% for month in 1..12 %}
                                    <!-- this makes every month two digits long -->
                                    <!--option value="{{ "%02d"|format(month) }}">{{ "%02d"|format(month) }}</option-->
                                    <option value="{{ month }}">{{ month }}</option>
                                {% endfor %}
                            </select>
                            <select name="card-exp-year-1" id="firstCardExpYear" class="form-control col-sm-6" style="width: 60%" data-mundicheckout-element="exp_year-1">
                                {% for year in 2017..2030 %}
                                    <option value="{{ year }}">{{ year }}</option>
                                {% endfor %}
                            </select>
                            <span  id="firstExpiration-date-message" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-5 twoCreditcard" id="firstHoldername-field">
                    <label for="cardName">{{ credit_card.holder_name }}</label>
                    <input name="holder-name-1" type="text" class="form-control" maxlength="50" id="secondCardName" data-mundicheckout-element="holder_name-1">
                    <span  id="secondHolder-name-message" class="text-danger"></span>
                </div>

                <div class="col-sm-2 twoCreditcard" id="firstCvv-field">
                    <label for="cardCVV">CVV</label>
                    <input name="cvv-1" type="text" class="form-control" maxlength="4" id="firstCardCVV" data-mundicheckout-element="cvv-1">
                    <span id="secondCvv-message" class="text-danger"></span>
                </div>

                <div class="col-sm-2 twoCreditcard" id="first-total-field">
                    <label for="second-card-total">Total a pagar</label>
                    <input name="total-1" type="text" class="form-control" maxlength="4" id="second-card-total">
                    <span id="second-total-message" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary float-to-right" id="submit-payment-button">Efetuar pagamento</button>
            </div>
        </div>
    </form>
</div>
