<style>
    .orderActionMenu {
        display: block;
        margin-left: 50px;
    }

    .orderActionList {
        margin-top: 39px;
        margin-right: 91px;
    }
</style>
<script>
    MundiMenu = function(element, actionsList) {

        var mundipaggLogoImage = '<img src="{{ httpServer }}view/image/mundipagg/mundipagg-mini.png" alt="MundiPagg" style="width: 15px;" />';
        var token = getURLVar('user_token');
        var href = '?route=extension/payment/mundipagg/previewChangeCharge'+ '&user_token='+ token + '&order_id=';

        var menuHtml =
        '<div class="btn-group orderActionMenu">'+
            '<a data-toggle="tooltip" title="" class="btn btn-primary mundipaggOrderPreviewButton" data-original-title="MundiPagg">'+
                mundipaggLogoImage +
            '</a>'+
            '<button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="false"><span class="caret"></span></button>' +
            '<ul class="dropdown-menu dropdown-menu-right orderActionList">'+
                actionsList +
            '</ul>'+
        '</div>'

        element.prepend(menuHtml);

        $( "input[name='selected[]']" ).each(function () {
            orderId = $(this).val();
            mundipagOrderPreviewBurron = $(this).parent().parent('tr').find('.mundipaggOrderPreviewButton');

            mundipagOrderPreviewBurron.attr('href', href + orderId);
        });

    }

    template = function(status, order_id) {
        return '<li><a href="?route=extension/payment/mundipagg/previewChangeCharge'+
            '&amp;status='+status+
            '&amp;user_token='+getURLVar('user_token')+
            '&amp;order_id='+order_id+
            '"><i class="fa fa-'+(status == 'cancel'?'trash':'thumbs-up')+'"></i> '+
            (status == 'cancel'?'Cancel':'Capture')+
            '</a></li>';
    }

    var cancelCapture = '{{ cancelCapture }}';
    var cancel = '{{ cancel }}';

    if(cancelCapture.length > 0){
        jQuery('{{ cancelCapture }}').each(function(){
            html =template('cancel',  jQuery(this).val());
            html+=template('capture', jQuery(this).val());
            MundiMenu(jQuery(this).parents('tr').find('td:last'), html)
        });
    }

    if(cancel.length > 0){
        jQuery('{{ cancel }}').each(function(){
            html =template('cancel', jQuery(this).val());
            MundiMenu(jQuery(this).parents('tr').find('td:last'), html)
        });
    }
</script>
